.page{
    background-color: #5a5a5a;
    overflow-x: hidden;
}

.intro {
    text-align: center;
    font-size: 2em;
    margin-top: 20vh;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
}                                               

.intro h1{
    background: linear-gradient(to right,#4158D0,#C850C0,#FFCC70); 
    -webkit-text-fill-color: transparent; background-clip: text;
    user-select: none;
}

.button {

    padding: 15px 45px;
    color: white;            
    border-radius: 25px;
    width: 4em;
    margin: auto;
    margin-top: 8vh;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3), 
                inset 0 1px 0 rgba(255, 255, 255, 0.2), 
                inset 0 -1px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #5a5a5a, #3a3a3a);
    border: 3px solid white;
    min-width: fit-content;
 }



.button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   transform: translateY(-2px);
}

.button a{
    text-decoration: none;
    color: white;
    user-select: none;
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: "Ms Madi", cursive;
    font-size: 2em;
    line-height: 1.2;
    text-wrap: balance;
    word-spacing: 7px;
}

.closing {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    color:whitesmoke;
}

.closing div{
    font-size: 2vh
}

/* this is the typing animation */


.intro h1 { 
    margin: 0px; 
    white-space: nowrap; 
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0); 
    animation:  typing 4s steps(22, end) forwards, blink 1s infinite;
} 

@keyframes typing { 
    0% {width: 0%} 
    100% {width: 100%} 
} 

@keyframes blink {
    0%, 
    100% {border-right: 2px solid transparent;} 
    50% {border-right: 2px solid #222;} 
}
